//*index*//
.topnav {
   background-color: salmon; 
   overflow: hidden;
}

.topnav a {
    float: none;
    color: lightslategray; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
   background-color: chocolate;
   color: lightcoral;
}

.topnav a.active {
    .topnav a.active 
        background-color: #4CADF50
        color: magenta;
}
   
  body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;

  }
  
  header {
    background:darksalmon;
    ;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #d21034;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  #indexbio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }


